* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a:active, a:hover, a:focus {
  outline: 0;
  outline-offset: 0; }

input:active, input:hover, input:focus {
  outline: 0;
  outline-offset: 0; }

:root {
  --color-bg: #34304c;
  --color-bg2: #534d7a;
  --color-highlight: #fff;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.goo {
  font-size: 3rem;
  line-height: 1.35;
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: var(--color-highlight);
  padding: 0.5rem 1rem;
  filter: url("#goo"); }

.container {
  padding: 7.5vh 100px 0 100px;
  width: 100%; }

.goo:focus {
  outline: 0; }

.edit {
  display: flex;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }
  .edit p {
    border-radius: 1em;
    background: var(--color-bg2);
    padding: 0.5rem 1rem; }

html {
  height: 100vh;
  overflow: hidden; }

body {
  font-family: var(--font);
  background: var(--color-bg);
  position: relative;
  display: grid; }

.container {
  display: grid;
  grid-template-columns: 65% 30%;
  grid-column-gap: 5%; }
  .container .phone {
    max-width: 100%;
    max-height: 80vh;
    justify-self: center; }
  .container .left {
    display: flex;
    flex-direction: column; }
    .container .left .edit_text {
      height: 35%;
      display: flex;
      flex-direction: column; }
      .container .left .edit_text h1 {
        height: 30vh;
        overflow: scroll;
        overflow-x: hidden;
        padding: 1rem 0.5rem; }
      .container .left .edit_text h1::-webkit-scrollbar {
        width: 0px; }
      .container .left .edit_text .edit {
        white-space: nowrap;
        color: #fff; }
    .container .left .info {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .container .left .info div {
        width: 100%;
        display: flex;
        justify-content: flex-end; }
        .container .left .info div a {
          width: 100%;
          display: flex;
          justify-content: flex-end; }
      .container .left .info img {
        width: 20%;
        margin-top: 20px; }
      .container .left .info .appstore:hover, .container .left .info .googleplay:hover {
        cursor: pointer; }

.popup {
  position: absolute;
  height: 100vh;
  display: grid;
  justify-items: center;
  background-color: white;
  width: 100%; }
  .popup #exit {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 25px 0 0px 25px;
    border: #fff 3px solid;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-self: start;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
    .popup #exit .fa {
      font-size: 1.2em; }
  .popup #exit:hover {
    border-color: black;
    cursor: pointer; }
  .popup .contant {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px; }
    .popup .contant .inside {
      width: 100%;
      height: 20%;
      display: grid;
      align-items: center;
      text-align: center;
      grid-template-rows: 65px auto; }
      .popup .contant .inside .aurem {
        overflow: scroll;
        overflow-x: hidden;
        width: 80%;
        justify-self: center; }
        .popup .contant .inside .aurem .subtitle {
          font-weight: bold;
          font-size: 1.2em;
          text-transform: uppercase; }
      .popup .contant .inside .aurem::-webkit-scrollbar {
        width: 0px; }
      .popup .contant .inside h2 {
        font-size: 2em;
        text-transform: uppercase;
        align-self: end; }
        .popup .contant .inside h2 .upper {
          font-size: 1.3em; }

.aurem .other__contant {
  display: grid !important;
  grid-row-gap: 10% !important; }

.aurem .header__content {
  grid-row-gap: 10%;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  max-height: 100vh; }

.aurem .header__content p {
  margin-bottom: 20px !important; }

.aurem .header__content .about {
  align-self: start; }

.aurem .header__content .about .subtitle {
  margin-bottom: 20px; }

.aurem .header__content .conditions__text {
  display: grid;
  grid-template-columns: 100%;
  height: 100%;
  grid-row-gap: 30px; }

.aurem .header__content .conditions__text .contant {
  display: grid;
  grid-row-gap: 10px; }

.aurem .header__content .conditions__text .contant a {
  color: #00a2ff; }

.aurem .header__content .conditions__text .contant__imprint .contant__sub {
  display: grid;
  grid-row-gap: 10px; }

.aurem .header__content .conditions__text .contant__imprint ul li {
  list-style-type: circle;
  margin-left: 35px; }

footer {
  display: grid;
  grid-template-columns: 50% 250px 35%;
  padding: 0 100px 0 100px;
  width: 100%;
  height: 12vh; }
  footer .copyright {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #BAB9C1;
    text-align: center;
    display: grid;
    justify-items: end;
    align-items: center;
    padding-right: 10%; }
    footer .copyright p {
      font-size: 0.7em; }
      footer .copyright p span {
        font-size: 1.3em !important; }
  footer .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #BAB9C1;
    text-align: center;
    align-items: center; }
    footer .links p:hover {
      cursor: pointer;
      text-decoration: underline; }
  footer .socials {
    display: flex;
    align-items: center; }
    footer .socials a {
      text-decoration: none; }
    footer .socials .fa {
      font-size: 2em;
      color: #fff; }
    footer .socials .fa-twitter {
      padding-left: 30px; }

#cookie_notification {
  position: absolute;
  align-self: end;
  background-color: #ffffff;
  width: 100%;
  padding: 30px 10px;
  display: none; }
  #cookie_notification .text {
    font-weight: 500;
    padding: 0 40px; }
  #cookie_notification button {
    white-space: nowrap;
    margin-right: 50px;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 0px;
    border: none;
    background: #34304c;
    color: #ffffff; }

.show {
  display: flex; }

/*# sourceMappingURL=style.css.map */
